
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> 
        <h3>Log-in</h3>
        <form action="/Login/GetLoginData" method="post">
            User Name:<input type="text" name="userName" /> <br/>
            Password:<input type="text" name="password" /><br/>
            <input type="submit" value="Login" />
        </form>
    </div>
</body>
</html>
