@model FactoryManagmentWeb.Models.Shift
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddShift</title>
</head>
<body>
    <div>
        <h3 style="color :red">Hello @ViewBag.fullname</h3>
        <h4>@Html.ActionLink("Log-Out", "LogOut", "Login")</h4>
    </div>
    <div>
        <h3>Add New Shift</h3>


        <form action="/Shift/AddNewShift" method="post">
            Shift Date:@Html.TextBoxFor(x => x.Date)<br />
            Start Time:@Html.TextBoxFor(x => x.StartTime) <br />
            End Time:@Html.TextBoxFor(x => x.EndTime) <br />

            <input type="submit" value="Add Shift" />



        </form>
    </div>
    <div>
        <h4>@Html.ActionLink("Back", "Index", "Shift")</h4>
    </div>
</body>
</html>
